.choose-yours-page {
  margin-top: 120px;
  margin-bottom: 120px;
}
.choose-yours-page h2 {
  margin-bottom: 60px;
}

.choose-yours {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.choose-yours-content {
  display: grid;
  grid-template-columns: 1fr auto;
}

.choose-yours-content img {
  border-radius: 4px;
  margin-bottom: 20px;
  grid-column: 1/-1;
}

.choose-yours-content h2 {
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.choose-yours-content h2::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 42px;
  background: var(--color-primary);
}

.choose-yours-content p {
  margin-left: 12px;
  grid-column: 1;
}

.choose-yours-content a {
  grid-column: 2;
  grid-row: 2;
}

@media (max-width: 700px) {
  .choose-yours-page {
    margin-top: 60px;
  }
  .choose-yours-page h2 {
    margin-bottom: 40px;
  }
  .choose-yours {
    flex-direction: column;
    gap: 40px;
  }
  .choose-yours-content {
    grid-template-columns: 1fr;
  }
  .choose-yours-content h2 {
    grid-row: 2;
  }
  .choose-yours-content p {
    margin-bottom: 12px;
  }
  .choose-yours-content a {
    padding: 8px 16px;
    grid-row: 4;
    grid-column: 1;
    width: max-content;
  }
}
