.grab-bg {
  background: linear-gradient(var(--color-13) 70%, var(--color-14) 0);
}

.grab {
  display: flex;
  align-items: center;
  gap: 40px;
}

.grab-img img {
  border-radius: 0 0 4px 4px;
  height: 100%;
  object-fit: cover;
}

.grab-content p {
  max-width: 70ch;
}

@media (max-width: 700px) {
  .grab {
    gap: 20px;
  }
  .grab-content p {
    font-size: 1.25rem;
    max-width: 40ch;
  }
}
@media (max-width: 500px) {
  .grab-content p {
    font-size: 1rem;
  }
}
